<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />        
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-iphone.png') }}" /> 
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-ipad.png') }}" /> 
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-iphone4.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-ipad3.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer class="footer">
            <p>&copy; Bangnation {{ '' | date('Y') }}</p>
        </footer>
    </body>
</html>
