{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}

{% block head_style %}
{% stylesheets
    '@BangnationCommonBundle/Resources/public/sass/mopabootstrapbundle.scss'
    '@BangnationCommonBundle/Resources/public/css/ticker-style.css'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}

{% block navbar %}
{% endblock navbar %}

{% block headline %}{% endblock headline %}

{% block footer %}
<div class="row-fluid equal-heights">
    <div class="span3 hero-unit box">
        <h3>INFORMATION</h3>
        <a href="{{ path('about') }}">About Us</a>
        <br>
        <a href="{{ path('terms') }}">Terms and Conditions</a>
        <br>
        <a href="{{ path('privacy') }}">Privacy Policy</a>
    </div>
    <div class="span3 hero-unit box">
        <h3>CUSTOMER SERVICE</h3>
        <a href="{{ path('contact') }}">Contact Us</a>
    </div>
    <div class="span6 hero-unit box">
        <p>
            All users must agree to our Membership Terms and Conditions,
            Privacy Policy, Community Guidelines and User Agreement and in
            so doing, contractually represent to us that they are at least
            18 years of age, and that all images are posted by them with the
            sole intention of meeting other men, and are of individuals that
            are also over the age of 18.
        </p>
    </div>
</div>
<p>&copy; Bang Nation {{ '' | date('Y') }}</p>
{% endblock footer %}

{% block foot_script %}
    {{ parent() }}
    {% javascripts
        '@BangnationCommonBundle/Resources/public/js/jquery.ticker.js'
        '@BangnationCommonBundle/Resources/public/js/jquery.equalHeights.js'
        '@BangnationCommonBundle/Resources/public/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}