{% extends '::layout.html.twig' %}

{% block content %}
<div class="span12">
    <form action="{{ path('welcome') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" />
    </form>
        
    <a class="btn" href="{{ path('fos_user_security_login') }}">
        <i class="icon-user"></i>
        Login
    </a><br>
    <a class="btn" href="{{ path('fos_user_security_logout') }}">Logout</a><br>
    <a class="btn" href="{{ path('fos_user_profile_show') }}">
        <i class="icon-eye-open"></i>
        View Profile
    </a><br>
    <a class="btn" href="{{ path('fos_user_profile_edit') }}">
        <i class="icon-edit"></i>
        Edit Profile
    </a><br>
    <a class="btn" href="{{ path('fos_user_registration_register') }}">Register</a><br>
    <a class="btn" href="{{ path('fos_user_resetting_request') }}">Reset Password</a><br>
    <a class="btn" href="{{ path('fos_user_change_password') }}">Change Password</a><br>
</div>
{% endblock %}
